div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

#main-graphs{
  width:900px;
  margin:0 auto;
  margin-top: 5em;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.arrow{
  text-indent: -9999px;
  display: inline-block;
  height:128px;
  width: 128px;
  opacity:.5;
  &:hover{
    opacity:1;
    color:#666;
    background-color: #eee;
  }
}

.arrow_left{
  float:left;
  background-image:url(arrow_left.png);  
}

.arrow_right{
  float:right;
  background-image:url(arrow_right.png);
}

.arc path {
  stroke: #fff;
}