div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

#main-graphs{
  width:900px;
  margin:0 auto;
  margin-top: 5em;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.arrow{
  text-indent: -9999px;
  display: inline-block;
  height:128px;
  width: 128px;
  opacity:.5;
  &:hover{
    opacity:1;
    color:#666;
    background-color: #eee;
  }
}

.arrow_left{
  float:left;
  background-image:url(arrow_left.png);  
}

.arrow_right{
  float:right;
  background-image:url(arrow_right.png);
}

.arc path {
  stroke: #fff;
}

a, a:visited, a:active {
  color: #444;
}

#view_selection {
  margin-top: 10px;
}

.years {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  /* background: #222222; */
  background: #fff;
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

#chart-legend{
  visibility: hidden;
  position:absolute;
  left:30px;
  top:250px;
}
#view_selection{
  visibility: hidden;
  position:absolute;
  left:30px;
  top:180px;
  a.active{
    color:rgba(0, 0, 0, 0.498039);
    background-color: #E6E6E6;
  }
  a#all{
    -webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-o-border-top-left-radius:5px;border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-o-border-bottom-left-radius:5px;border-bottom-left-radius:5px;
    margin-right: -6px;
  }
  a#cities{
    -webkit-border-top-right-radius:5px;-moz-border-top-right-radius:5px;-o-border-top-right-radius:5px;border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-o-border-bottom-right-radius:5px;border-bottom-right-radius:5px;
  }
}

table#chart-legend th{
  font-weight: bold;
  text-align: right;
  font-size: 18px;
  padding: 4px;
}

table#chart-legend td{
  margin: 4px;
  width:20px;
}
.btn{
  border: 1px solid #CCC;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  display: inline-block;
padding: 4px 10px 4px;
font-size: 13px;
line-height: 18px;
}

.btn-group a{
  text-decoration: none;
  background-color: #FAFAFA;
  color:#444;
  &:hover{
    background:#E6E6E6;
    color:#444;
  }
}