// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-size: 1.2em;
  color:rgb(221, 121, 0);
  margin-bottom: 1px;
}
#location_state_id{
  float:left;
}
#main{
  display: inline-block;
  float:left;
  margin-top: -7px;
  margin-left: -7px;
  margin-right: 1em;
  height:auto;
  width:70%;
}
#stats{
  border-top:1px solid #222;
}
#stats table
{
  border-collapse:collapse;
  th,td{
      border:1px solid #aaa;
  }
}
#markers table{
  border-collapse: collapse;
  th,td{ 
      border: none;
      border:1px solid #aaa;
    }
  th a{
    text-decoration: none
  }
}

#city_name{
  color:blue;
}
#stats{
  height: 350px;
  overflow-y: scroll;
}
#markers{
  height:210px;
  overflow-y:scroll;
}



@media screen and (max-width:865px){
  #main{
    width:60%;
  }
}
@media screen and (max-width:890px){

}