- if !@cities.blank?
  = select("location", "city_id", @cities.collect {|p| [ p.name, p.id ] }, { :prompt => "City" })
- else
  = select("location", "city_id", [], { :prompt => "City" })
%button{:href => "/", :title => "Graphs", :id => "graphs"} (+)