%nav#main-nav
  = form_for((@location), :remote=>true) do |f|
    = f.collection_select 'state_id', @states, :id, :name, :prompt => "State", required: true
    #citiesSelect
      = render 'cities', f: f
    #localitiesSelect
      = render 'localities', f: f
    %button{:href => "/", :title => "Go here", :id => "gohere", :disabled => true} Go
    %button{:href => "/", :title => "Show Markers", :id => "showMarkers"} Show
    %button{:href => "/", :title => "Hide Markers", :id => "hideMarkers"} Hide
    %button{:href => "/", :title => "Reload", :id => "reload"} Reload
    %button{:href => "/", :title => "Help"} Help
    %br/