<div id='main-graphs'>
</div>
<script type="text/javascript">
  function clear_graph(){
    svg.remove();
  }
    var dataset = gon.cities;

    var w = 900;
    var h = 600;
    var barPadding = 1;

    var svg = d3.select("#main-graphs")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

    svg.selectAll("rect")
    .data(dataset)
    .enter()
    .append("rect")
    .attr("x", function(d, i) {
    return i * (w / dataset.length);
})
    .attr("y", function(d) {
    return h - d.total / 300;
})
    .attr("width", w / dataset.length - barPadding)
    .attr("height", function(d) {
    return d.total / 300;
})
    .attr("fill", function(d) {
    return "rgba("+ (Math.round(d.total / 1000)) + ", 0, 0, 0.8)";
});

    svg.selectAll("text")
   .data(dataset)
   .enter()
   .append("text")
   .text(function(d) {
        return d.name;
   })
   .attr("x", function(d, i) {
        return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
    })
   .attr("y", function(d) {
        return h - (d.total / 300) + 14;
    })
   .attr("font-family", "sans-serif")
   .attr("font-size", "11px")
   .attr("fill", "white")
   .attr("text-anchor", "middle");

   svg.selectAll(".total")
   .data(dataset)
   .enter()
   .insert("text")
   .text(function(d) {
        return d.total;
   })
   .attr("x", function(d, i) {
        return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
    })
   .attr("y", function(d) {
        return h - (d.total / 300) - 5;
    })
   .attr("font-family", "sans-serif")
   .attr("font-size", "25px")
   .attr("font-weight", "bold")
   .attr("fill", "black")
   .attr("text-anchor", "middle");

</script>

<a href='#' id='clear-graph' onclick="return clear_graph();">clear</a>
